h2{
	padding:50px ;
	margin:20px ;
}

.grad1{

background: linear-gradient(90deg, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 73%);
}

.grad2{
	background: linear-gradient(180deg, rgba(149,246,203,1) 0%, rgba(42,201,205,1) 25%, rgba(0,147,179,1) 50%, rgba(27,78,158,1) 75%, rgba(0,3,85,1) 100%);#
	   }

.grad3{
	
background: radial-gradient(circle, rgba(9,9,121,1) 23%, rgba(26,24,69,1) 55%, rgba(0,212,255,1) 80%);
  
  }